.rectangle-box{
    position: relative;
    transition: all 234ms ease-out;
    width: 10vw;
    height: 6vw;
    background-color: black;
    display: grid;
    place-content: center;
    z-index: 2;
}

.cart{
    cursor: pointer;
}

p{
    color:white;
}

.number{
    color:rgb(233, 152, 2);
}

.cart-order{
    transition: all 234ms ease-out;
    z-index: 1;
    position: absolute;
    transform: translate(10vw,-12.3vh);
    width: 60vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(230, 230, 230);
}

.payment-details{
    transition: all 234ms ease-out;
    z-index: 1;
    position: absolute;
    transform: translate(-140vw,-12.3vh);
    width: 40vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(230, 230, 230);
}


.menu-checker{
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: scale(12) translate(6px,1px);
}

.menu-checker:checked ~ .cart-order{
    transform: translate(-50vw,-12.3vh);
}

.menu-checker:checked ~ .payment-details{
    transform: translate(-90vw,-12.3vh);
}

.menu-checker:checked ~ .rectangle-box{
    background-color: rgb(68, 68, 68);
}
